img {
  margin: 50px;
  transition: transform 1s ease;
}
  
img:hover {
  /* animation: spin 1s infinite linear; */
  transform: scale(2);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.element {
background-color: #0997d3;
width: 200px;
height: 200px;
transition: transform 1s;
}

.element:hover {
transform: translate(100%,0%);
}